{% extends 'en/base.html' %}
{% block before_cta %}
    <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;">
        Welcome to FPV Finder! We're thrilled to have you on board as a part of our FPV community.
    </p>
    <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;">
        Here at FPV Finder, we understand the excitement and passion that comes with the world of FPV products. Whether
        you're a seasoned professional or just starting, our platform is designed to enhance your FPV experience by
        making it easier for you to find the products you love at the best prices.
    </p>
    <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;">
        Here's a quick overview of what FPV Finder has to offer:
    <ul>
        <li><strong>Product Discovery</strong>:
            Explore a vast range of FPV products from over 25 stores, all in one place. Our powerful search and
            filtering options help you find exactly what you're looking for.
        </li>
        <li>
            <strong>Price Comparison</strong>: Compare prices across multiple stores to ensure you're getting the best
            deal. We do the hard work for you, so you can focus on what you love – flying!
        </li>
        <li><strong>Price Tracking</strong>: Keep an eye on the historical price trends of your favorite products. FPV
            Finder helps you make informed decisions by showing you when prices are at their lowest.
        </li>
        <li><strong>Favorites</strong>: Mark your favorite products and create your personalized wishlist. Never lose
            track of the items you've got your eye on.
        </li>
        <li>
            <strong>Price Drop Alerts</strong>: Set up price drop alerts for your favorite products, and we'll notify
            you the moment prices fall. It's the perfect way to catch the best deals.
        </li>
    </ul>

    <strong>New Feature Alert: Sell Your Used Gear!</strong>
    Now, you can also use FPV Finder to sell your used FPV products. Easily list your items, reach potential buyers, and
    make room for new additions to your collection.
    </p>
    <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;">
    We're committed to providing you with the best FPV experience, and we're constantly working on new features to make
    FPV Finder your go-to platform for all things FPV.
    </p>
    <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;">
    Thank you for choosing FPV Finder. Start exploring, comparing, and saving today!
    </p>
    <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;">
    Happy Flying!
    </p>
{% endblock %}
