{% extends 'en/base.html' %}
{% block before_cta %}
    <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;">
        Benvenuto su FPV Finder! Siamo entusiasti di averti con noi come parte della nostra community FPV.
    </p>
    <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;">
        Qui su FPV Finder, comprendiamo l'emozione e la passione che accompagna il mondo dei prodotti FPV.
        Che tu sia un professionista navigato o alle prime armi, la nostra piattaforma è progettata per migliorare
        la tua esperienza FPV, rendendo più facile trovare i prodotti che ami ai prezzi migliori.
    </p>
    <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;">
        Ecco una breve panoramica di ciò che FPV Finder ha da offrire:
    <ul>
        <li><strong>Scoperta Prodotti</strong>:
            Esplora una vasta gamma di prodotti FPV da oltre 25 negozi, tutto in un unico posto.
            Le nostre potenti opzioni di ricerca e filtraggio ti aiutano a trovare esattamente ciò che stai cercando.
        </li>
        <li>
            <strong>Confronto Prezzi</strong>:
            Confronta i prezzi tra vari negozi per assicurarti di ottenere la migliore offerta.
            Facciamo il lavoro duro per te, così puoi concentrarti su ciò che ami: volare!
        </li>
        <li><strong>Monitoraggio Prezzi</strong>: Tieni d'occhio le tendenze storiche dei prezzi dei tuoi prodotti
            preferiti.
            FPV Finder ti aiuta a prendere decisioni informate mostrandoti quando i prezzi sono al loro minimo.
        </li>
        <li><strong>Preferiti</strong>: Segna i tuoi prodotti preferiti e crea la tua lista dei desideri personalizzata.
            Non perdere mai di vista gli oggetti che hai sotto gli occhi.
        </li>
        <li>
            <strong>Avvisi di Riduzione Prezzi</strong>: Imposta avvisi di riduzione dei prezzi per i tuoi prodotti
            preferiti e ti avviseremo nel momento in cui i prezzi scendono. È il modo perfetto per cogliere le migliori
            offerte.
        </li>
    </ul>

    <strong>Novità: Vendi il tuo Usato!</strong>
    Ora, puoi anche utilizzare FPV Finder per vendere i tuoi prodotti FPV usati. Inserisci facilmente i tuoi articoli,
    raggiungi potenziali acquirenti e fai spazio per nuove aggiunte alla tua collezione.
    </p>
    <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;">
        Siamo impegnati a fornirti la migliore esperienza FPV e stiamo lavorando costantemente a nuove funzionalità per
        rendere FPV Finder la tua piattaforma di riferimento per tutto ciò che riguarda l'FPV.
    </p>
    <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;">
        Grazie per aver scelto FPV Finder. Inizia subito a esplorare, confrontare e risparmiare!
    </p>
    <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;">
        Buon Volo!
    </p>
{% endblock %}
