<table style="margin: 10px;" cellspacing="0" cellpadding="0">
<tr>
  <td width="33%">
    <img src="{{ product.image }}" alt="{{ product.name }}" style="max-width: 100%; height: auto; display: block;">
  </td>
  <td>
    <h3>{{ product.name }}</h3>
    <span>{{ product.store.name }}</span>
    <p>Price: {{ product.currency }} {% if old_price %}<del>{{ old_price }}</del>{% endif %} {{ product.price }}</p>
    <a style="background-color: #EDA550; color: #fff; padding: 0.5rem 1rem; border-radius: 0.25rem; text-decoration: none;" href="{{ product.link }}">Buy it now</a>
  </td>
</tr>
</table>
